{% extends 'store/user/home.html' %}
{% load static %}
{% block content %}

  <!-- Faqs Start -->
  <section class="about">
    <div class="container py-5 px-5">
      <div class="row py-3">
        <div class="col-lg-7 mt-2">
          <h1 class="pb-3">About our Coffee</h1>
          <p><strong>Arabica Coffee:</strong></p>
          <p>Arabica coffee beans have sweeter and more complex flavors than Robusta coffee beans, which is why it currently dominates coffee markets, especially specialty coffee markets. Arabica coffee beans have a bright acidity, medium body, and multiple layers of flavor. They are well suited to be brewed pour-over style, which lets their subtleties shine more than espresso or immersion brewing.</p></p>
          <p><strong>Robusta Coffee:</strong></p>
          <p>Robusta beans are known for having a darker, earthier flavor, and for this reason, they are most often subjected to a darker roast to better match their natural character. Robusta beans also have nearly twice the caffeine of Arabica beans.</p></p>
          <p><strong>Liberica Coffee:</strong></p>
          <p>Liberica coffee has a unique flavor, pairing floral and fruity notes with a deep smokiness that some describe as woody. It has a full-body, reminiscent of Robusta coffee. The taste is not for everyone, but there are some exceptional Liberica coffees to be had when done right.</p>
          <p><strong>Corn Coffee:</strong></p>
          <p>Corn coffee looks and tastes like your good old caffeinated coffee, but it is healthier to drink. Perhaps a distinction comes with the aroma since corn coffee comes from ground, roasted corn</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Faqs End -->

{% endblock content %}